﻿@model MyBlog.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.ApplicationUserName || User.IsInRole("SuperAdmin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <span>|</span>
    }

    @*original*@
    @*<a asp-action="Index">Back to List</a>*@
    @*апдейт на передачу ай-ди родительского поста*@
    <a asp-action="Index" asp-route-id="@Model.PostId">Back to List</a>
</div>
