﻿@model MyBlog.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @*annex. Классический способ получения id из формы*@
            <input asp-for="PostId" type="hidden" value="@ViewBag.PostId" />

            @*annex*@
            <input asp-for="ApplicationUserName" type="hidden" value="@User.Identity.Name" />

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishTime" class="control-label"></label>
                <input asp-for="PublishTime" class="form-control" />
                <span asp-validation-for="PublishTime" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ApplicationUserId" class="control-label"></label>
            <input asp-for="ApplicationUserId" class="form-control" />
            <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostId" class="control-label"></label>
            <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
            <span asp-validation-for="PostId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
    @*апдейт на передачу ай-ди родительского поста*@
    <a asp-action="Index" asp-route-id="@Model.PostId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
