﻿@*@model IEnumerable<MyBlog.Models.Post>*@
@model MyBlog.ViewModels.PostsViewModel
@addTagHelper *, MyBlog
@*так подключается тагхелпер, указание название приложения после звездочки и запятой необходимо*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*annex. Simple autorization*@
@*@if (User.Identity.Name == "admin123@ukr.net")
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }*@

@*annex. Role autorization*@
@if (User.IsInRole("SuperAdmin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@*annex for selectlist*@
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label"> Category </label>
        &nbsp;&nbsp;&nbsp;
        <select name="categoryId" asp-items="Model.Categories" selectedItem class="form-control"></select>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Select" class="btn btn-primary" />
    </div>
</form>

@foreach (var item in Model.Posts)
{
    <div class="card card_margin">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.PublishDate)
            @Html.DisplayFor(modelItem => item.PublishTime)
        </div>
        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="..." class="post_image" />
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <h6 class="card-title">Категория: @Html.DisplayFor(modelItem => item.Category.Name)</h6>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
        </div>
        <div class="card-footer text-muted">
            |
            @*annex for comment*@
            <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.Id">Comments</a>
            |
            @if (User.IsInRole("SuperAdmin"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <span>|</span>
            }
        </div>
    </div>

}

<br />

<page-link page-model="Model.Paginator" page-action="Index"></page-link>
